---
import Blogdash from '../../components/PostsDisplay.astro'
import Section from '../../components/Section.astro'
import Layout from '../../layouts/Layout.astro'
import { getPosts } from '../../utils/funcs'

const posts = await getPosts()
---

<Layout title="/blog - Thomas Forbes">
  <Section class="space-y-4">
    <h1>Blog</h1>
    <p>Some of my thoughts</p>
  </Section>
  <Section>
    <Blogdash
      title="My Favourite"
      posts={posts.filter((post) => post.data.fav)}
    />
  </Section>
  <Section>
    <Blogdash title="My Latest" posts={posts} />
  </Section>
  <p><a href="/blog/rss.xml">View RSS</a></p>
</Layout>
