---
import { CollectionEntry, getCollection } from 'astro:content'
import BlogPost from '../layouts/BlogPost.astro'
import { formatDate } from '../utils/funcs'

export async function getStaticPaths() {
  const posts = await getCollection('forever')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<'forever'>

const post = Astro.props as Props
const { Content } = await post.render()
---

<BlogPost
  siteTitle={`${post.data.title} - Thomas Forbes`}
  title={post.data.title}
>
  <p slot="subtitle">
    Last updated <time>{formatDate(post.data.updatedDate)}</time>
  </p>
  <Content />
</BlogPost>
