---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'

const sectionClass = '!items-start space-y-4 text-left'
---

<Layout title="/contact - Thomas Forbes" class="list-parent">
  <Section class="space-y-4">
    <h1>Contact</h1>
    <p>Where you can find me</p>
  </Section>

  <div class="grid max-w-4xl grid-cols-1 gap-4 px-4 sm:grid-cols-2 sm:px-8">
    <Section class={sectionClass}>
      <h2 class="text-sky-400">Social</h2>
      <ul>
        <li>thomas [at] thomasforbes [dot] com</li>
        <li>
          <a href="https://github.com/thomas-forbes" target="_blank"
            >GitHub (please look)</a
          >
        </li>
        <li>
          <a href="https://twitter.com/ThomasForbesy" target="_blank">Twitter</a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/in/thomas-forbes/" target="_blank"
            >Linkedin</a
          >
        </li>
      </ul>
    </Section>
    <Section class={sectionClass}>
      <h2 class="text-rose-500">Places</h2>
      <ul>
        <li>
          <a href="https://dogpatchlabs.com/" target="_blank">Dogpatch Labs</a>
        </li>
        <li>
          <a href="http://www.sps.ie/" target="_blank">Sutton Park School</a>
        </li>
      </ul>
    </Section>
  </div>
</Layout>

<style>
  h3 {
    @apply text-slate-200;
  }
</style>
