---
import { getCollection } from 'astro:content'
import Card from '../components/Card.astro'
import PostsDisplay from '../components/PostsDisplay.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import Project from '../components/Project.astro'
import HeadedCard from '../components/HeadedCard.astro'
import Revealable from '../components/Revealable.astro'
import { getPosts } from '../utils/funcs'

const posts = (await getPosts()).slice(0, 5)

const unSortedColours = {
  blue: [
    {
      className: 'from-blue-500 to-sky-700 hover:ring-blue-500/20',
      descClass: 'text-blue-200',
      tagsClass: 'bg-blue-400',
    },
    {
      className: 'from-sky-500 to-cyan-700 hover:ring-sky-500/20',
      descClass: 'text-sky-200',
      tagsClass: 'bg-sky-400',
    },
    {
      className: 'from-cyan-500 to-teal-700 hover:ring-cyan-500/20',
      descClass: 'text-cyan-200',
      tagsClass: 'bg-cyan-400',
    },
  ],
  purple: [
    {
      className: 'from-fuchsia-500 to-purple-700 hover:ring-fuchsia-500/20',
      descClass: 'text-fuchsia-200',
      tagsClass: 'bg-fuchsia-400',
    },
    {
      className: 'from-purple-500 to-violet-700 hover:ring-purple-500/20',
      descClass: 'text-purple-200',
      tagsClass: 'bg-purple-400',
    },
    {
      className: 'from-violet-500 to-blue-700 hover:ring-violet-500/20',
      descClass: 'text-violet-200',
      tagsClass: 'bg-violet-400',
    },
  ],
  red: [
    {
      className: 'from-rose-500 to-pink-700 hover:ring-rose-500/20',
      descClass: 'text-rose-200',
      tagsClass: 'bg-rose-400',
    },

    {
      className: 'from-pink-500 to-red-700 hover:ring-pink-500/20',
      descClass: 'text-pink-200',
      tagsClass: 'bg-pink-400',
    },
    {
      className: 'from-red-500 to-orange-700 hover:ring-red-500/20',
      descClass: 'text-red-200',
      tagsClass: 'bg-red-400',
    },
  ],
}

// redefine as array
const projectColours = [
  {
    className: 'from-blue-500 to-sky-700 hover:ring-blue-500/20',
    descClass: 'text-blue-200',
    tagsClass: 'bg-blue-400',
  },
  {
    className: 'from-sky-500 to-cyan-700 hover:ring-sky-500/20',
    descClass: 'text-sky-200',
    tagsClass: 'bg-sky-400',
  },
  {
    className: 'from-cyan-500 to-teal-700 hover:ring-cyan-500/20',
    descClass: 'text-cyan-200',
    tagsClass: 'bg-cyan-400',
  },
  {
    className: 'from-fuchsia-500 to-purple-700 hover:ring-fuchsia-500/20',
    descClass: 'text-fuchsia-200',
    tagsClass: 'bg-fuchsia-400',
  },
  {
    className: 'from-purple-500 to-violet-700 hover:ring-purple-500/20',
    descClass: 'text-purple-200',
    tagsClass: 'bg-purple-400',
  },
  {
    className: 'from-violet-500 to-blue-700 hover:ring-violet-500/20',
    descClass: 'text-violet-200',
    tagsClass: 'bg-violet-400',
  },
  {
    className: 'from-rose-500 to-pink-700 hover:ring-rose-500/20',
    descClass: 'text-rose-200',
    tagsClass: 'bg-rose-400',
  },

  {
    className: 'from-pink-500 to-red-700 hover:ring-pink-500/20',
    descClass: 'text-pink-200',
    tagsClass: 'bg-pink-400',
  },
  {
    className: 'from-red-500 to-orange-700 hover:ring-red-500/20',
    descClass: 'text-red-200',
    tagsClass: 'bg-red-400',
  },
]

const city = import.meta.env.PROD
  ? (await (await fetch('https://nomadlist.com/@thomasforbes.json')).json())
      .location.now.city
  : undefined
---

<Layout title="Thomas Forbes">
  <!-- MAIN -->
  <Section>
    <h1
      class="rainbow-text cursor-pointer select-none text-center text-7xl font-bold duration-300 hover:rotate-2 hover:scale-[1.03] md:text-8xl"
      id="thomasforbes"
    >
      Thomas Forbes
    </h1>
    <p class="font-sans text-xl font-semibold text-slate-100 sm:text-2xl">
      ⚒️ Building quality things <i>fast</i> 💨
    </p>
    <div class="flex flex-col gap-8 md:flex-row">
      <!-- BULLETS -->
      <Card class="flex-shrink-0 !bg-sky-950/60">
        <ul class="grid h-full grid-cols-2 gap-2 sm:grid-cols-4 md:grid-cols-1">
          {
            [
              { emoji: '🇮🇪🇺🇸', text: 'Citizen' },
              { emoji: '🌍', text: city || 'Somewhere' },
              { emoji: '💻', text: 'Developer' },
              {
                emoji: '🗓️',
                text: `${Math.abs(
                  new Date(
                    Date.now() - new Date(2005, 8, 10).getTime()
                  ).getUTCFullYear() - 1970
                )} years old`,
              },
            ].map((item) => (
              <li class="flex items-center space-x-2 text-left font-sans-serif text-base font-semibold sm:text-lg md:text-xl">
                <span class="inline-block w-8 text-center sm:w-auto md:w-12">
                  {item.emoji}
                </span>
                <span>{item.text}</span>
              </li>
            ))
          }
        </ul>
      </Card>
      <!-- TEXT -->
      <Card
        class="space-y-6 !bg-indigo-950/60 text-justify text-base [&>p>b]:text-slate-100 [&>p]:text-gray-300"
      >
        <p>
          My <b>favourite feeling</b> is coming home on the train after <i
            >squeezing all the productivity out of my brain</i
          > and being able to point to a thing and say <b>"I made that"</b>.
        </p>
        <p>
          I <b>love</b> to work on interesting projects and have a <i>need</i> to
          work <b>hard and fast</b>.
        </p>
      </Card>
    </div>
  </Section>
  <!-- WRITING -->
  <Section>
    <PostsDisplay title="Blog →" link="/blog" posts={posts} />
  </Section>
  <!-- PROJECTS -->
  <Section>
    <HeadedCard class="w-full space-y-8" title="Projects">
      <div class="grid w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3">
        {
          [
            {
              title: 'This Site',
              tags: ['Astro', 'Tailwind CSS'],
              description: 'My open source personal site',
              link: 'https://github.com/thomas-forbes/thomasforbes-com',
              image: '/assets/images/projects/site.jpeg',
            },
            {
              title: 'joinfounders.co',
              description: 'Building the landing page for dogpatch labs',
              tags: ['Astro', 'Tailwind CSS'],
              link: 'https://foundersite.vercel.app',
              image: '/assets/images/projects/founders.jpeg',
            },
            {
              title: 'examfinder.ie',
              description:
                'Irish state exam repository used by <b>1,000s of students</b>',
              tags: ['Next.js', 'Tailwind CSS'],
              link: 'https://examfinder.ie',
              image: '/assets/images/projects/examfinder.jpeg',
            },
            {
              title: 'allmycontact.info',
              description: 'Share contact info with QR codes',
              tags: ['React Native', 'Tailwind CSS'],
              link: 'https://allmycontact.info/',
              image: '/assets/images/projects/amci.png',
            },
            {
              title: 'Good Cycling Days',
              description: 'Weather app to find the best days to cycle',
              tags: ['React Native', 'Firebase', 'Tailwind CSS'],
              link: 'https://goodcyclingdays.com/',
              image: '/assets/images/projects/gcd.png',
            },
            {
              title: 'dotheylike.me',
              description: 'Find out if someone likes you 😉',
              tags: ['Next.js', 'Tailwind CSS', 'GPT-3'],
              link: 'https://dotheylike.me/',
              image: '/assets/images/projects/dotheylike.me.png',
            },
            {
              title: 'Kreoh',
              description: 'Ex Co-Founder. AI question generator',
              tags: ['Next.js', 'Chakra UI', 'GPT-3'],
              link: 'https://kreoh.com',
              image: '/assets/images/projects/kreoh.png',
            },
            {
              title: 'Paper on Congestion Pricing in Ireland',
              description: 'Young Economist paper on Congestion Pricing',
              tags: ['Economics', 'Research'],
              link: 'https://drive.google.com/file/d/1KlU16SRe7rNavkPd86SrDLHjNzC_nRws/view?usp=sharing',
            },
            {
              title: 'Paper on Carbon Offsets',
              description:
                'Young Economist paper on contrasting the EU ETS and Carbon Offsets',
              tags: ['Economics', 'Research'],
              link: 'https://docs.google.com/document/d/1G4CvFAEWkRpvlLC2j5LqWKWumxlYAkcjQufj0XjgUWI/edit?usp=sharing',
            },
            {
              title: 'Comfort Crutches',
              description:
                'BTYSTE project on a new design for crutches to improve comfort',
              tags: ['Design', 'Research'],
              link: 'https://docs.google.com/document/d/1GWTaDK8bUCbiqBAogynEZynpfnWcTmCUDnuWdgoHa64/edit?usp=sharing',
            },
            {
              title: 'ChatGPT CLI',
              description: 'ChatGPT assistant in the terminal',
              tags: ['CLI', 'JavaScript', 'Node'],
              link: 'https://github.com/thomas-forbes/chatgpt-cli',
            },
          ].map((item, i) => (
            <div
              id={`project-${i}`}
              class:list={[i < 3 ? 'visible' : 'hidden']}
            >
              <Revealable>
                <Project
                  {...item}
                  {...projectColours[(i * 3) % projectColours.length]}
                />
              </Revealable>
            </div>
          ))
        }
      </div>
      <button
        id="more-projects"
        class="font-sans-serif text-xl font-bold text-slate-300 duration-300 hover:text-slate-400 active:text-slate-500"
        >View More</button
      >
      <script>
        const moreProjects = document.getElementById('more-projects')
        const projects = document.querySelectorAll('[id^="project-"]')
        let hidden = true
        moreProjects.addEventListener('click', () => {
          hidden = !hidden
          projects.forEach((project, i) => {
            if (i < 3) return

            project.classList.toggle('visible', !hidden)
            project.classList.toggle('hidden', hidden)
          })
          moreProjects.innerText = hidden ? 'View More' : 'View Less'
        })
      </script>
    </HeadedCard>
  </Section>

  <!-- CTA -->
  <Section>
    <h2>Want to learn more?</h2>
    <p class="text-lg text-slate-200">
      I'm always looking for new opportunities and <br />new people to meet <a
        href="/contact"
        class="text-sky-400">contact me</a
      >!
    </p>
    <div class="space-y-2 [&>p>a]:text-slate-300">
      <p>
        You may also want to check out <a href="/cv">my cv</a> or <a
          href="/uses">the things I use</a
        >.
      </p>
      <p>If you're ever in {city || 'Dublin'}, let's hang out.</p>
    </div>
  </Section>
</Layout>

<style>
  .rainbow-text {
    @apply !bg-clip-text text-transparent;
    background: linear-gradient(
      238deg,
      theme('colors.sky.600') 0%,
      theme('colors.indigo.500') 15%,
      theme('colors.rose.500') 50%,
      theme('colors.indigo.500') 85%,
      theme('colors.sky.600') 100%
    );
    background-size: 400%;
    animation: rainbow-text-animation 4s ease infinite;
  }

  @keyframes rainbow-text-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>

<script>
  const h1 = document.getElementById('thomasforbes')!

  h1.onclick = () => {
    const audio = new Audio('/assets/sounds/pop.m4a')
    h1.classList.toggle('hover:rotate-2')
    h1.classList.toggle('hover:-rotate-2')

    audio.volume = 0.1
    audio.play()
  }
</script>
