---
import Revealable from './Revealable.astro'

export interface Props {
  class?: string
}
const { class: className } = Astro.props
---

<li
  class:list={[
    className,
    'list-none border border-dash border-slate-200/10 bg-slate-900 highlight-white/5 shadow-lg rounded-xl py-6 px-8',
  ]}
>
  <slot />
</li>
