---
const today = new Date()
---

<footer
  class="my-10 flex w-full max-w-5xl flex-col items-center space-y-2 justify-self-end px-4"
>
  <div class="flex flex-row justify-center gap-10">
    {
      [
        { href: '/contact', text: 'Contact' },
        {
          href: 'https://github.com/thomas-forbes',
          text: 'GitHub',
          className: '!text-white',
        },
        { href: 'https://twitter.com/thomasforbesy', text: 'Twitter' },
      ].map((item) => (
        <a
          href={item.href}
          class:list={[
            item.className,
            'text-slate-400 flex-1 whitespace-nowrap text-lg',
          ]}
        >
          {item.text}
        </a>
      ))
    }
  </div>
  <p class="text-sm text-slate-500">
    &copy; {today.getFullYear()} Thomas Forbes. All rights reserved.
  </p>
</footer>
