{
  [
    { href: '/', text: '/index' },
    // { href: '/blog' },
    { href: '/cv' },
    { href: '/uses' },
    { href: '/contact' },
  ].map((link) => (
    <a
      href={link.href}
      class:list={[
        { '!text-sky-400': link.href == '/contact' },
        'page-link px-1 py-2 font-mono text-slate-400 no-underline  underline-offset-2 hover:text-slate-200 hover:underline active:text-slate-300 sm:px-4 text-xs xs:text-base',
      ]}
    >
      {link.text || link.href}
    </a>
  ))
}

<style>
  .current-page {
    @apply text-white !underline;
  }
</style>

<script>
  // highlight current page
  const path = window.location.pathname
  const links = document.querySelectorAll('.page-link')
  links.forEach((link) => {
    if (link.getAttribute('href') == path) {
      link.classList.add('current-page')
      link.classList.remove('text-slate-400')
    }
  })
</script>
