---
import Links from './Links.astro'
---

<nav
  class="fixed z-50 flex w-full items-center justify-center px-4"
  id="navbar"
>
  <div
    class="flex w-full max-w-6xl flex-row justify-between rounded-b-3xl border border-t-0 border-slate-200/10 bg-slate-900 p-2"
  >
    <Links />
  </div>
</nav>
<div id="navbar-offset" class="h-16"></div>
