---
import type { CollectionEntry } from 'astro:content'
import { formatDate } from '../utils/funcs'
import Rainbow from './Rainbow.astro'

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
---

<li class="group w-full text-left">
  <a
    href={`/blog/${post.slug}`}
    class="flex w-full flex-col justify-between space-x-2 py-2 text-xl font-semibold text-slate-300 no-underline sm:flex-row sm:items-center"
  >
    <div>
      <span class="inline-block text-white duration-500 group-hover:rotate-180">
        &rarr;
      </span>
      <span class="ml-2 duration-300 group-hover:ml-0">
        <Rainbow>
          {post.data.title}
        </Rainbow>
      </span>
    </div>
    <span
      class="mr-0 flex-shrink-0 pl-6 font-mono text-sm font-normal text-slate-500 duration-300 group-hover:mr-2 group-hover:text-slate-400 sm:pl-0 md:text-base"
    >
      {formatDate(post.data.pubDate)}
    </span>
  </a>
</li>
