---
import type { CollectionEntry } from 'astro:content'
import Card from './Card.astro'
import Postlink from './PostLink.astro'

interface Props {
  posts: CollectionEntry<'blog'>[]
  title: string
}

const { title, posts } = Astro.props
---

<Card class="w-full">
  <h2 class="mb-4 border-b border-slate-200/20 pb-4 text-left">{title}</h2>
  <ul>{posts.map((post) => <Postlink post={post} />)}</ul>
</Card>
