---
interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<span
  class:list={[
    'postlink underline underline-offset-1 duration-200 group-hover:underline-offset-[5px] group-hover:skew-x-[4deg] inline-block group-hover:decoration-wavy decoration-2',
    className,
  ]}
>
  <slot />
</span>

<style>
  @keyframes change-border-color {
    0% {
      @apply decoration-sky-400;
    }
    25% {
      @apply decoration-indigo-400;
    }
    75% {
      @apply decoration-rose-500;
    }
    100% {
      @apply decoration-sky-400;
    }
  }

  .postlink {
    animation: change-border-color 4s ease infinite;
  }
</style>

<script>
  const elems = document.querySelectorAll(
    '.postlink'
  )! as NodeListOf<HTMLElement>

  for (let i = 0; i < elems.length; i++) {
    elems[i].style.animationDelay = '-' + Math.floor(Math.random() * 8) + 's'
  }
</script>
