---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<section
  class:list={[
    className,
    'my-8 flex max-w-4xl flex-col space-y-10 items-center',
  ]}
>
  <slot />
</section>
