---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<section
  class:list={[
    className,
    'my-4 flex max-w-5xl flex-col space-y-10 items-center w-full',
  ]}
>
  <slot />
</section>
