---
import Card from '../components/Card.astro'
import Section from '../components/Section.astro'
import Layout from './Layout.astro'

interface Props {
  siteTitle: string
  title: string
}

const { siteTitle, title } = Astro.props as Props
---

<Layout title={siteTitle}>
  <Section class="space-y-4">
    <h1>{title}</h1>
    <slot name="subtitle" />
  </Section>
  <Section class="text-left">
    <article class="w-full">
      <Card class="w-full space-y-3 !p-4 sm:!p-8">
        <slot />
      </Card>
    </article>
    <p>
      <a
        href="https://github.com/thomas-forbes/thomasforbes-com/tree/main/src/content"
        target="_blank">View version history</a
      >
    </p>
  </Section>
</Layout>

<style>
  time {
    @apply text-slate-300;
  }
</style>

<style is:global>
  article {
    * {
      @apply px-2;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply !px-0 text-slate-200;
    }
    h1,
    h2 {
      @apply pt-6 text-3xl font-bold md:text-4xl;
    }
    h3 {
      @apply pt-4 text-xl font-bold md:text-2xl;
    }
    h4 {
      @apply pt-2 text-base font-bold md:text-lg;
    }

    li,
    p {
      @apply font-mono text-slate-300;
    }

    b,
    strong,
    em,
    a {
      @apply !px-0;
    }

    a {
      @apply text-slate-200;
    }

    pre {
      @apply rounded-xl border border-slate-200/10 px-4 py-3;
    }

    blockquote {
      @apply ml-2 border-l-4 border-slate-200 italic;

      p {
        @apply text-slate-200;
      }
    }

    table {
      @apply mx-2 border-collapse border border-slate-200/10;
    }

    th,
    td {
      @apply border border-slate-200/10 p-2 text-slate-300;
    }

    th {
      @apply bg-slate-300/20;
    }

    tr {
      @apply odd:bg-slate-200/5 even:bg-slate-200/10;
    }

    ul {
      @apply list-['•'] pl-6;
      ul {
        @apply pl-2;
      }
    }

    ol {
      @apply pl-6;
      li::marker {
        content: counter(list-item) '.';
      }
    }

    li {
      padding-left: 1ch;
    }
    li::marker {
      @apply text-base font-bold;
    }

    ul > li > ul > li {
      @apply text-sm text-slate-400;
    }
    ul > li > ul > li > ul > li {
      @apply text-slate-500;
    }

    p:has(> img) {
      @apply flex items-center justify-center;
    }
    img {
      @apply w-1/2 rounded-xl;
    }
  }
  article div *:first-child {
    @apply !pt-0;
  }
</style>
